.header {
    background-color: red;
    color: yellow;
    padding: 15px;
    text-align: center;
}

.menu-type {
    padding: 10px;
    text-align: center;
    color: lightgreen;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    color: green;
}

.menu-item-name {
    float: left;
    font-weight: bold;
}

.menu-item {
    margin: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 32%;
    border-radius: 1rem;
    height: fit-content;
    display: inline-block;
    cursor: pointer;

}

.menu-item-buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.menu-item-add,
.menu-item-remove {
    float: right;
}

.menu-item-remove:hover,
.menu-item-add:hover {
    font-weight: bold;
}

.menu-item:hover {
    background-color: #ddd;
}

.menu-item-description {
    clear: both;
    font-size: 0.8em;
    font-style: italic;
    color: #777;
}

#order-container { 
    bottom: 0;
    position: fixed;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;
    height: 10vh;
    margin-left: 25%;
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
    grid-template-rows: 1fr 1fr 1fr;
    /* Make the grid add to row before next column*/
    grid-auto-flow: column;
}

.order-item {
    border-radius: 1rem;
    cursor: pointer;
    /* Place each item under each other with a max of 3 items */
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    height: fit-content;
    
}

.order-button {
    /* Make this in the right center with a locked position */
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateY(-50%);
    padding: 10px;
    font-weight: bold;
    margin-right: 25px;
}

.order-total {
    /* Make this in the right center with a locked position */
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
    padding: 10px;
    font-weight: bold;
    margin-right: 25px;
}

.order-item-name {
    float: left;
    color: #333;
    padding-right: 5px;
}

.order-item-price {
    float: right;
    font-weight: bold;
    color: green;
}

.order-sum {
    font-weight: bold;
    color: green;
    padding: 10px;
    text-align: center;
}

#order-number {
    /*Place this in the left bottom */
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-weight: bold;
}

#total-earning {
        /*Place this in the left bottom */
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        font-weight: bold;
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    z-index: 1000;
}

#modal.show {
    display: block;
}



.modal-content {
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-title {
    margin: 0;
}

.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #777;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-order-total {
    font-weight: bold;
    margin-top: 10px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.receipt-info {
    /* Display this at a new line */
    border-top: 1px solid #ddd;
}