.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.menu-type {
    padding: 10px;
    text-align: center;
}

.menu-item-price {
    float: right;
    font-weight: bold;
    color: green;
}

.menu-item-name {
    float: left;
}

.menu-item {
    margin: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 32%;
    border-radius: 1rem;
    height: fit-content;
    display: inline-block;
    cursor: pointer;

}

.menu-item-buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.menu-item-add,
.menu-item-remove {
    float: right;
}

.menu-item-remove:hover,
.menu-item-add:hover {
    font-weight: bold;
}

.menu-item:hover {
    background-color: #ddd;
}

.menu-item-description {
    clear: both;
    font-size: 0.8em;
    font-style: italic;
    color: #777;
}

#order-container { 
    bottom: 0;
    position: fixed;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;
    height: 10vh;
    margin-left: 25%;
    display: grid;
    /* Display four columns and three rows */
    /* q: what is 1fr?
    a: 1fr is a fraction unit. It means that the column will be 1 part of the available space.
    q: how can i make it smaller?
    a: yo ca use 1px, 1em, 1rem, 1% or 1vh 
    */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* Make the grid add to row before next column*/
    grid-auto-flow: column;
}

.order-item {
    border-radius: 1rem;
    cursor: pointer;
    /* Place each item under each other with a max of 3 items */
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    height: fit-content;
    
}

.order-item-name {
    float: left;
    color: #333;
    padding-right: 5px;
}

.order-item-price {
    float: right;
    font-weight: bold;
    color: green;
}

.order-sum {
    font-weight: bold;
    color: green;
    padding: 10px;
    text-align: center;
}

#order-number {
    /*Place this in the left bottom */
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-weight: bold;
}